<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3"> It's That Easy !</h1>
    <p class="lead">Your Vote has been Recorded and It is Secure</p>
    <a class="btn btn-light btn-lg" href="/" role="button">Logout</a>
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-auto">
              <input type="password" id="passwordInput" class="form-control mb-2" placeholder="Enter Password">
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-auto">
              <button id="submitButton" class="btn btn-primary" style="display: none;">Open</button>
          </div>
      </div>
  </div>
  
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
      const passwordInput = document.getElementById("passwordInput");
      const submitButton = document.getElementById("submitButton");
      const correctPassword = "password123"; // Change this to your desired password
      const resultsPageUrl = "results"; // URL of the results page
  
      passwordInput.addEventListener("input", function() {
          if (passwordInput.value === correctPassword) {
              submitButton.style.display = "block"; // Show the button when the correct password is entered
          } else {
              submitButton.style.display = "none"; // Hide the button if the password is incorrect
          }
      });
  
      submitButton.addEventListener("click", function() {
          // Redirect to the results page after clicking the button
          window.location.href = resultsPageUrl;
      });
  </script>
  

  </div>
</div>

<%- include('partials/footer') %>
